<template>
    <div class="container--small">
        <ul class="tab">
            <li class="tab__item" :class="{'tab__item--active': tab === 1}" @click="tab = 1">Login</li>
            <li class="tab__item" :class="{'tab__item--active': tab === 2}" @click="tab = 2">Register</li>
        </ul>
        <div class="panel" v-show="tab === 1">
            <form class="form" @submit.prevent="login">
                <div v-if="loginErrors" class="errors">
                    <ul v-if="loginErrors.email" class="errors">
                        <li v-for="msg in loginErrors.email" :key="msg">{{ msg }}</li>
                    </ul>
                    <ul v-if="loginErrors.password">
                        <li v-for="msg in loginErrors.password" :key="msg">{{ msg }}</li>
                    </ul>
                </div>
                <label for="login-email">Email</label>
                <input type="text" id="login-email" class="form__item" v-model="loginForm.email">
                <label for="login-password">パスワード</label>
                <input type="password" id="login-password" class="form__item" v-model="loginForm.password">
                <div class="form__button">
                    <button type="submit" class="button button--inverse">ログイン</button>
                </div>
            </form>
        </div>
        <div class="panel" v-show="tab === 2">
            <form class="form" @submit.prevent="register">
                <div v-if="registerErrors" class="errors">
                    <ul v-if="registerErrors.name">
                        <li v-for="msg in registerErrors.name" :key="msg">{{ msg }}</li>
                    </ul>
                    <ul v-if="registerErrors.email">
                        <li v-for="msg in registerErrors.email" :key="msg">{ msg }</li>
                    </ul>
                    <ul v-if="registerErrors.password">
                        <li v-for="msg in registerErrors.password" :key="msg">{{ msg }}</li>
                    </ul>
                </div>
                <label for="username">名前</label>
                <input type="text" id="username" class="form__item" v-model="registerForm.name">
                <label for="email">Email</label>
                <input type="text" id="email" class="form__item" v-model="registerForm.email">
                <label for="password">パスワード</label>
                <input type="password" id="password" class="form__item" v-model="registerForm.password">
                <label for="password-confirmation">パスワード（確認用）</label>
                <input type="password" id="password-confirmation" class="form__item" v-model="registerForm.password_confirmation">
                <div class="form__button">
                    <button type="submit" class="button button--inverse">登録</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data () {
            return {
                tab: 1,
                loginForm: {
                    email: '',
                    password: ''
                },
                registerForm: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        computed: {
            ...mapState({
                apiStatus: state => state.auth.apiStatus,
                loginErrors: state => state.auth.loginErrorMessages,
                registerErrors: state => state.auth.registerErrorMessages
                // apiStatus () {
                //     return this.$store.state.auth.apiStatus
                // },
                // loginErrors () {
                //     return this.$store.state.auth.loginErrorMessages
                // },

            })
        },
        methods: {
            async login () {
                // authストアのloginアクションを呼び出す
                await this.$store.dispatch('auth/login', this.loginForm)

                if (this.apiStatus) {
                    // トップページに移動する
                    this.$router.push('/')
                }
                // console.log(this.loginForm)
            },
            async register () {
                // authストアのregisterアクションを呼び出す
                await this.$store.dispatch('auth/register', this.registerForm)

                if (this.apiStatus) {
                    // トップページに移動する
                    this.$router.push('/')

                    // console.log(this.registerForm)
                }
            },
            clearError () {
                this.$store.commit('auth/setLoginErrorMessages', null)
                this.$store.commit('auth/setRegisterErrorMessages', null)
            },
        },
        created () {
            this.clearError()
        }
    }
</script>
